@model ArticlesApp.Models.Group


<div class="card-body">

    <h3 class="card-title alert-primary py-3 px-3 rounded-2">@Model.Name</h3>

    <div class="d-flex justify-content-between flex-row mt-5">

        <div><i class="bi bi-globe"></i> @Model.Category.CategoryName</div>


    </div>

</div>


